:root{
    --black: #000;
    --light-gray: rgba(128, 122, 122, 0.3);
    --purple: rgba(165, 43, 155, 0.3);
    --border-color: rgba(160,160,255,0.4);
}
/*global selectors*/ 
*:focus{
    outline: none;
}
body{
    font-family: "Source Sans Pro", sans-serif;
    background: linear-gradient(45deg, rgba(13, 152, 104,.9), rgba(255,255,255,.1) 51%),
    linear-gradient(135deg, rgba(13, 152, 104,.9), rgba(255,255,255,.1) 51%),
    linear-gradient(225deg, rgba(13, 152, 104,.9), rgba(255,255,255,.1) 51%),
    linear-gradient(315deg, rgba(13, 152, 104,.9), rgba(255,255,255,.1) 51%);
}
form {
    display: inline-block;
    height: inherit;
    text-align: center; 
    background: var(--purple);
    margin: 0 auto;
    width: auto;
}
form > *{
    padding: 15px;
}

input{
    width: 50px;
    margin-right: 20px;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}
/* class toggles for js */
.gridAdd{
    box-shadow: inset 0 0 1px rgba(160,160,255,0.5);
}
#gridSetContainer{
    height: inherit;
}
#settings{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 60vh;
    height: 10vh;
    margin: 0 auto;
    background: var(--light-gray);
}
#colorsContainer{
    background: rgba(255, 255,255, 0.1);
}
#buttonsContainer{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    height: inherit;
    /*background: rgb(177, 35, 35);*/
}
#buttonsContainer > button{
    flex-basis: 50%;
    cursor: pointer;
    color: #fff;
    border-radius: 15%;
    background: linear-gradient(315deg, rgba(111, 25, 119, 1),  rgba(126, 34, 134, 0.7), rgba(147, 47, 156, 0.3)84.65%);
}
#buttonsContainer > button:hover{
    border: 2px solid #afe025;
    box-shadow: 0 0 4px 1px #55b805;
    background: linear-gradient(315deg, rgba(111, 25, 119, 1),  rgba(126, 34, 134, 0.8), rgba(147, 47, 156, 0.6)84.65%);
}
#btnToggleGrid:active{
    box-shadow: inset 0 0 15px rgba(50, 4, 54,);
}
