:root{
    --black: #000;
    --light-gray: rgba(128, 122, 122, 0.3);
    --purple: rgba(165, 43, 155, 0.3);
}
/*global selectors*/ 
form {
    display: inline-block;
    height: inherit;
    text-align: center; 
    background: var(--purple);
}
form > *{
    padding: 15px;
}

input{
    width: 50px;
    margin-right: 20px;
    -moz-appearance: textfield;
}

#settings{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 60vh;
    height: 10vh;
    margin: 0 auto;
    background: var(--light-gray);
}
